# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
UserSettings/
MemoryCaptures/
*.unitypackage

# IDE
.vscode/
.vs/
*.suo
*.user
*.userprefs

# C++ build
build/
out/
bin/
obj/
*.exe
*.pdb
*.ilk
*.obj

# OS
.DS_Store
Thumbs.db
